Repository dotnet/linker, pull requests merged in 2020-10, with the labels that each got.

#1546 Correctly handle assembly qualified names in generic parameters
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Steps/LinkAttributesStep.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker/TypeNameResolver.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ApplyTypeAnnotations.cs
Labels: area-Linker: DataFlow

#1564 Test handling of arrays in data flow
  test/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
Labels: area-Linker: DataFlow

#1565 Fix processing of DynamicDependency when specified via attribute XML
  src/linker/Linker.Steps/DynamicDependencyLookupStep.cs
  test/Mono.Linker.Tests.Cases/DynamicDependencies/Dependencies/DynamicDependencyFromAttributeXmlOnNonReferencedAssemblyLibrary.cs
  test/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXmlOnNonReferencedAssembly.cs
  test/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXmlOnNonReferencedAssembly.mono.Attributes.xml
  test/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyFromAttributeXmlOnNonReferencedAssembly.netcore.Attributes.xml
Labels: area-Linker: DataFlow

#1580 Add test cases for complex type data flow tests
  test/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
Labels: area-Linker: DataFlow

#1584 Make the MessageOrigin..ctor which takes a member reference public
  src/linker/ref/Linker/MessageOrigin.cs
Labels: area-Linker: Steps

#1585 Exclude Mono.Cecil.Pdb from package dependencies
  src/ILLink.Tasks/ILLink.Tasks.csproj
  src/linker/Mono.Linker.csproj
  test/ILLink.Tasks.Tests/ILLink.Tasks.Tests.csproj
Labels: area-Build

#1566 Mark generic arguments of dynamically accessed types passed as string
  external/corert/src/System.Private.CoreLib/src/System/Reflection/Runtime/TypeParsing/TypeName.cs
  src/linker/Linker.Dataflow/MethodBodyScanner.cs
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker/TypeNameResolver.cs
  src/linker/Linker/TypeReferenceExtensions.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ApplyTypeAnnotations.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
  test/Mono.Linker.Tests.Cases/Reflection/PropertyUsedViaReflection.cs
Labels: area-Linker: DataFlow
