Repository dotnet/linker, pull requests merged in 2020-12, with the labels that each got.

#1650 [release/5.0] Fix linker crash on unresolved types in generic and attribute data flow handling
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  test/Mono.Linker.Tests.Cases/DataFlow/Dependencies/UnresolvedLibrary.cs
  test/Mono.Linker.Tests.Cases/DataFlow/UnresolvedMembers.cs
Labels: area-Linker: DataFlow

#1624 Update IL2067-91 warning messages
  docs/error-codes.md
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Mono.Linker.csproj
  src/linker/Resources/Strings.Designer.cs
  src/linker/Resources/Strings.resx
  src/linker/Resources/xlf/Strings.cs.xlf
  src/linker/Resources/xlf/Strings.de.xlf
  src/linker/Resources/xlf/Strings.es.xlf
  src/linker/Resources/xlf/Strings.fr.xlf
  src/linker/Resources/xlf/Strings.it.xlf
  src/linker/Resources/xlf/Strings.ja.xlf
  src/linker/Resources/xlf/Strings.ko.xlf
  src/linker/Resources/xlf/Strings.pl.xlf
  src/linker/Resources/xlf/Strings.pt-BR.xlf
  src/linker/Resources/xlf/Strings.ru.xlf
  src/linker/Resources/xlf/Strings.tr.xlf
  src/linker/Resources/xlf/Strings.zh-Hans.xlf
  src/linker/Resources/xlf/Strings.zh-Hant.xlf
  test/Mono.Linker.Tests.Cases/DataFlow/MethodThisDataFlow.cs
  test/Mono.Linker.Tests.Cases/Logging/SourceLines.cs
  test/Mono.Linker.Tests/TestCases/Dependencies/SortedWarnings.txt
Labels: area-Linker: Diagnostic

#1674 Add description how to embed linker XML files
  docs/data-formats.md
Labels: documentation

#1679 Fix pointer type forwarding
  src/linker/Linker.Steps/SweepStep.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/AttributeArgumentForwarded.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/ForwarderLibrary.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/ImplementationLibrary.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/ReferenceImplementationLibrary.cs
Labels: area-Linker: Steps

#1689 Add some more tests for constant propagation
  src/linker/Linker.Steps/RemoveUnreachableBlocksStep.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/Dependencies/LibReturningConstant.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/Dependencies/LibWithConstantSubstitution.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/Dependencies/LibWithConstantSubstitution.xml
  test/Mono.Linker.Tests.Cases/UnreachableBlock/SimpleConditionalProperty.cs
Labels: area-Linker: Tests

#1705 Add a test for attribute removal using wildcard and lazy loading
  test/Mono.Linker.Tests.Cases/LinkAttributes/Dependencies/LinkerAttributeRemovalEmbeddedAndLazyLoad.cs
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkerAttributeRemoval.cs
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkerAttributeRemoval.xml
Labels: area-Linker: Tests
