Repository dotnet/linker, pull requests merged in 2021-01, with the labels that each got.

#1719 Better intrinsic handling of GetNestedType if input has All
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  test/Mono.Linker.Tests.Cases/DataFlow/GetNestedTypeOnAllAnnotatedType.cs
Labels: area-Linker: DataFlow

#1737 Fix the build after removal of dotnet.myget.org
  NuGet.config
Labels: area-Build

#1734 Only compute if method returns a constant when needed
  src/linker/Linker.Steps/RemoveUnreachableBlocksStep.cs
  test/Mono.Linker.Tests.Cases/FeatureSettings/FeatureSubstitutions.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.xml
Labels: area-Linker: Steps

#1736 Add help link for IL3000 and IL3001
  src/ILLink.RoslynAnalyzer/SingleFileAnalyzer.cs
Labels: area-Linker: Diagnostic

#1749 Fix constant prop around intrinsic
  src/linker/Linker.Steps/RemoveUnreachableBlocksStep.cs
  test/Mono.Linker.Tests.Cases.Expectations/Support/IntrinsicAttribute.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.xml
Labels: area-Linker: Steps

#1751 [release/5.0] Fix the build after removal of dotnet.myget.org
  NuGet.config
Labels: area-Build

#1752 Fix nullref caused by unknown value to the ignoreCase parameter of Type.GetType
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  test/Mono.Linker.Tests.Cases/Reflection/MethodUsedViaReflection.cs
  test/Mono.Linker.Tests.Cases/Reflection/TypeUsedViaReflection.cs
Labels: area-Linker: DataFlow

#1766 Add tests validating annotation behavior on delegates
  test/Mono.Linker.Tests.Cases/DataFlow/MemberTypes.cs
  test/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMemberTypes.cs
Labels: area-Linker: DataFlow

#1759 [release/5.0] Fix nullref caused by unknown value to the ignoreCase parameter of Type.GetType
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  test/Mono.Linker.Tests.Cases/Reflection/MethodUsedViaReflection.cs
  test/Mono.Linker.Tests.Cases/Reflection/TypeUsedViaReflection.cs
Labels: area-Linker: DataFlow

#1756 Constant propagation without iterations and stack based
  docs/design/constant-propagation-and-branch-removal.md
  src/linker/Linker.Steps/RemoveUnreachableBlocksStep.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/BodiesWithSubstitutions.cs
Labels: area-Linker: Steps

#1771 Constant propagation directly from MarkStep
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker.Steps/UnreachableBlocksOptimizer.cs
  src/linker/Linker/Driver.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/SimpleConditionalProperty.cs
Labels: area-Linker: Steps
