Repository dotnet/linker, pull requests merged in 2021-06, with the labels that each got.

#2071 Type get type generic annotation test
  test/Mono.Linker.Tests.Cases/Reflection/TypeUsedViaReflection.cs
Labels: area-Linker: DataFlow

#2053 Stop duplicating trailing period in IL2026
  src/ILLink.RoslynAnalyzer/RequiresAssemblyFilesAnalyzer.cs
  src/ILLink.RoslynAnalyzer/RequiresUnreferencedCodeAnalyzer.cs
  src/linker/Linker.Steps/MarkStep.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresUnreferencedCodeAnalyzerTests.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeCapability.cs
Labels: area-Linker: Diagnostic

#2080 Improve tests for COM warnings from PInvokes
  test/Mono.Linker.Tests.Cases/Interop/PInvoke/Warnings/ComPInvokeWarning.cs
Labels: area-Linker: Tests

#2096 Add a test for case where we report double suppression incorrectly
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInMembersAndTypes.cs
  test/Mono.Linker.Tests/TestCasesRunner/TestCaseMetadaProvider.cs
Labels: area-Linker: Tests

#2075 Warning suppressions in compiler generated code
  docs/error-codes.md
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Steps/MarkScopeStack.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker/CompilerGeneratedState.cs
  src/linker/Linker/LinkContext.cs
  src/linker/Linker/MessageOrigin.cs
  src/linker/Linker/UnconditionalSuppressMessageAttributeState.cs
  test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectedWarningAttribute.cs
  test/Mono.Linker.Tests.Cases/Logging/CommonLogs.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeCapability.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeInCompilerGeneratedCode.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInCompilerGeneratedCode.cs
  test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
Labels: area-Linker: Diagnostic

#2099 Add a test case for string->type resolution with forwarded type in generic argument
  test/Mono.Linker.Tests.Cases/TypeForwarding/UsedForwarderInGenericIsDynamicallyAccessedWithAssemblyCopyUsed.cs
Labels: area-Linker: DataFlow

#2046 Match Attributes for virtual methods and overrides
  docs/error-codes.md
  src/ILLink.RoslynAnalyzer/ILLink.RoslynAnalyzer.csproj
  src/ILLink.RoslynAnalyzer/ISymbolExtensions.cs
  src/ILLink.RoslynAnalyzer/NullableAttributes.cs
  src/ILLink.RoslynAnalyzer/RequiresAnalyzerBase.cs
  src/ILLink.RoslynAnalyzer/RequiresAssemblyFilesAnalyzer.cs
  src/ILLink.RoslynAnalyzer/RequiresUnreferencedCodeAnalyzer.cs
  src/ILLink.Shared/MessageFormat.cs
  src/ILLink.Shared/SharedStrings.resx
  src/linker/Linker.Steps/ValidateVirtualMethodAnnotationsStep.cs
  src/linker/Mono.Linker.csproj
  test/ILLink.RoslynAnalyzer.Tests/CompilationExtensions.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresAssemblyFilesAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresUnreferencedCodeAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/UnconditionalSuppressMessageCodeFixTests.cs
  test/ILLink.RoslynAnalyzer.Tests/Verifiers/CSharpAnalyzerVerifier`1.cs
  test/ILLink.RoslynAnalyzer.Tests/Verifiers/CSharpCodeFixVerifier`2.cs
  test/Mono.Linker.Tests.Cases/DataFlow/VirtualMethodHierarchyDataflowAnnotationValidation.cs
Labels: area-Analyzers

#2115 Avoid recompiling regex multiple times
  src/linker/Linker.Steps/MarkStep.cs
Labels: area-Linker: Steps

#2108 Better tests for various RUC scenarios and fixes
  src/linker/Linker.Steps/MarkStep.cs
  test/ILLink.RoslynAnalyzer.Tests/LinkerTestCases.cs
  test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectedWarningAttribute.cs
  test/Mono.Linker.Tests.Cases/PreserveDependencies/PreserveDependencyMethod.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/Dependencies/RequiresUnreferencedCodeInCopyAssembly.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeCapability.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeCapability.descriptor.xml
Labels: area-Linker: DataFlow
