Repository dotnet/linker, pull requests merged in 2021-12, with the labels that each got.

#2396 Fixes a null-ref/NotSupportedException in warning infra
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Steps/BodySubstitutionParser.cs
  src/linker/Linker.Steps/DescriptorMarker.cs
  src/linker/Linker.Steps/DiscoverCustomOperatorsHandler.cs
  src/linker/Linker.Steps/MarkExportedTypesTargetStep.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker.Steps/ProcessLinkerXmlBase.cs
  src/linker/Linker.Steps/ProcessReferencesStep.cs
  src/linker/Linker.Steps/RootAssemblyInputStep.cs
  src/linker/Linker/Annotations.cs
  src/linker/Linker/CustomAttributeSource.cs
  src/linker/Linker/MarkingHelpers.cs
  src/linker/Linker/MessageContainer.cs
  src/linker/Linker/MessageOrigin.cs
  src/linker/Linker/SerializationMarker.cs
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkerAttributeRemovalAndPreserveAssembly.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresCapability.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresCapability.descriptor.xml
Labels: area-Linker: Diagnostic

#2429 Add test for wrong warning in MakeGenericType annotation mismatch
  test/Mono.Linker.Tests.Cases/DataFlow/GenericParameterDataFlow.cs
Labels: area-Linker: Tests

#2433 Adds a test for GetMethod with wrong binding flags
  test/Mono.Linker.Tests.Cases/Reflection/MethodUsedViaReflection.cs
Labels: area-Linker: Tests

#2445 Add TargetHasRequiresAttribute to RequiresISymbolExtensions file
  src/ILLink.RoslynAnalyzer/COMAnalyzer.cs
  src/ILLink.RoslynAnalyzer/RequiresAnalyzerBase.cs
  src/ILLink.RoslynAnalyzer/RequiresISymbolExtensions.cs
  src/ILLink.RoslynAnalyzer/RequiresUnreferencedCodeAnalyzer.cs
  src/ILLink.RoslynAnalyzer/RequiresUnreferencedCodeUtils.cs
Labels: area-Analyzers
