Repository dotnet/linker, pull requests merged in 2021-11, with the labels that each got.

#2010 Compiler generated code handling
  docs/design/compiler-generated-code-handling.md
Labels: area-Linker: DataFlow

#2369 Add a test for https://github.com/dotnet/linker/issues/2358
  test/Mono.Linker.Tests.Cases/LinkAttributes/Dependencies/LinkerAttributeRemovalAndPreserveAssembly_Lib.Descriptor.xml
  test/Mono.Linker.Tests.Cases/LinkAttributes/Dependencies/LinkerAttributeRemovalAndPreserveAssembly_Lib.cs
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkerAttributeRemovalAndPreserveAssembly.LinkAttributes.xml
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkerAttributeRemovalAndPreserveAssembly.cs
Labels: area-Linker: Tests

#2370 Add a custom flag to disable marking of copy assemblies
  src/linker/Linker.Steps/MarkStep.cs
Labels: area-Linker: Steps

#2354 Fixing a null ref exception related to function pointers and interfaces
  src/linker/Linker/TypeMapInfo.cs
  test/Mono.Linker.Tests.Cases/FunctionPointers/CanCompileInterfaceWithFunctionPointerParameter.cs
  test/Mono.Linker.Tests.Cases/FunctionPointers/CanCompileMethodWithFunctionPointerParameter.cs
  test/Mono.Linker.Tests/TestCases/TestDatabase.cs
  test/Mono.Linker.Tests/TestCases/TestSuites.cs
Labels: area-Linker: Steps

#2372 Adds a test for multiple nested forwarders in a row with copy/link
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/ImplementationLibrary.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/NestedForwarderLibrary.il
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/NestedForwarderLibrary_2.il
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/ReferenceImplementationLibrary.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/MultiForwardedTypesWithCopyUsed.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/MultiForwardedTypesWithLink.cs
  test/Mono.Linker.Tests/TestCasesRunner/ILCompiler.cs
Labels: area-Linker: Tests

#2385 Fix marking of nested type forwarders
  src/linker/Linker.Steps/MarkStep.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/NestedForwarderLibrary.il
  test/Mono.Linker.Tests.Cases/TypeForwarding/Dependencies/NestedForwarderLibrary_2.il
  test/Mono.Linker.Tests.Cases/TypeForwarding/MultiForwardedTypesWithCopyUsed.cs
  test/Mono.Linker.Tests.Cases/TypeForwarding/MultiForwardedTypesWithLink.cs
Labels: area-Linker: Steps
