Repository dotnet/linker, pull requests merged in 2021-08, with the labels that each got.

#2193 Add comment on RUC-on-type methods
  src/linker/Linker/Annotations.cs
Labels: area-Linker: DataFlow

#2197 Adds a test for issue #2196
  test/Mono.Linker.Tests.Cases/DataFlow/PropertyDataFlow.cs
Labels: area-Linker: Tests

#2202 Target net6.0 for linker
  src/Directory.Build.props
  src/ILLink.Tasks/ILLink.Tasks.csproj
  src/ILLink.Tasks/build/Microsoft.NET.ILLink.Tasks.props
Labels: area-Build

#2204 Fix wrong path after the TFM change
  src/ILLink.Tasks/ILLink.Tasks.csproj
  src/ILLink.Tasks/LinkTask.cs
  test/Mono.Linker.Tests/TestCasesRunner/TestCaseSandbox.cs
Labels: area-Build

#2205 Fix broken try/catch/filter offsets after isinst optimization
  src/linker/Linker.Steps/MarkStep.cs
  test/Mono.Linker.Tests.Cases/Advanced/TypeCheckRemoval.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/ReplacedReturns.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/TryFilterBlocks.cs
  test/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
  test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
Labels: area-Linker: Steps

#2226 Make linker forward compatible with regards to framework versioning
  src/linker/Linker/LinkContext.cs
Labels: area-Integration: netcore

#2219 [release/6.0-rc1] Fix IL corruption (#2213)
  src/linker/Linker.Steps/CodeRewriterStep.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker.Steps/UnreachableBlocksOptimizer.cs
  src/linker/Linker/LinkerILProcessor.cs
  test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectedExceptionHandlerSequenceAttribute.cs
  test/Mono.Linker.Tests.Cases/BCLFeatures/ETW/StubbedMethodWithExceptionHandlers.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/Dependencies/EndScopeOnMethod.il
  test/Mono.Linker.Tests.Cases/UnreachableBlock/EndScopeOnMethoEnd.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/ReplacedReturns.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/TryCatchBlocks.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/TryFilterBlocks.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/TryFinallyBlocks.cs
  test/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
Labels: Servicing-consider

#2237 Remove the requirement on 5.0 runtime since linker is now fully 6.0
  global.json
Labels: area-Build
