Repository dotnet/linker, pull requests merged in 2021-05, with the labels that each got.

#2002 Add UnconditionalSuppressMessage codefixer
  eng/Versions.props
  src/ILLink.CodeFix/BaseAttributeCodeFixProvider.cs
  src/ILLink.CodeFix/RequiresUnreferencedCodeCodeFixProvider.cs
  src/ILLink.CodeFix/UnconditionalSuppressMessageCodeFixProvider.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresAssemblyFilesAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresUnreferencedCodeAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/UnconditionalSuppressMessageCodeFixTests.cs
  test/ILLink.RoslynAnalyzer.Tests/Verifiers/CSharpAnalyzerVerifier`1.cs
Labels: area-Analyzers

#2017 Avoid showing hidden lines in warning location
  src/linker/Linker/MessageOrigin.cs
  test/Mono.Linker.Tests.Cases/Logging/SourceLines.cs
Labels: area-Linker: Diagnostic

#2026 Add a test for always throwing method with annotated return value
  test/Mono.Linker.Tests.Cases/DataFlow/MethodReturnParameterDataFlow.cs
Labels: area-Linker: DataFlow

#2028 Add a test for determining static type of enumeration
  test/Mono.Linker.Tests.Cases/Reflection/ObjectGetType.cs
Labels: area-Linker: Tests

#2023 Implement `DynamicallyAccessedMemberTypes.Interfaces`
  src/linker/Linker.Dataflow/DynamicallyAccessedMembersBinder.cs
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Dataflow/ReflectionPatternContext.cs
  src/linker/Linker.Steps/MarkStep.cs
  test/Mono.Linker.Tests.Cases.Expectations/Helpers/DataFlowTypeExtensions.cs
  test/Mono.Linker.Tests.Cases/DataFlow/GetInterfaceDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/MemberTypes.cs
  test/Mono.Linker.Tests.Cases/DataFlow/MemberTypesRelationships.cs
  test/Mono.Linker.Tests/TestCasesRunner/AssemblyChecker.cs
Labels: area-Linker: DataFlow

#2039 Add line number/position info to warnings from XML files
  src/linker/Linker.Steps/BodySubstituterStep.cs
  src/linker/Linker.Steps/BodySubstitutionParser.cs
  src/linker/Linker.Steps/DescriptorMarker.cs
  src/linker/Linker.Steps/LinkAttributesParser.cs
  src/linker/Linker.Steps/LinkAttributesStep.cs
  src/linker/Linker.Steps/ProcessLinkerXmlBase.cs
  src/linker/Linker.Steps/ProcessLinkerXmlStepBase.cs
  src/linker/Linker.Steps/ResolveFromXmlStep.cs
  src/linker/Linker/Driver.cs
  src/linker/Linker/EmbeddedXmlInfo.cs
  src/linker/Linker/UnconditionalSuppressMessageAttributeState.cs
  test/ILLink.Tasks.Tests/Mock.cs
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkAttributeErrorCases.cs
  test/Mono.Linker.Tests.Cases/LinkXml/LinkXmlErrorCases.cs
  test/Mono.Linker.Tests.Cases/Substitutions/SubstitutionsErrorCases.cs
Labels: area-Linker: Diagnostic

#2041 Add line info in IL2001 and IL2002
  src/linker/Linker.Steps/DescriptorMarker.cs
  test/Mono.Linker.Tests.Cases/LinkXml/LinkXmlErrorCases.cs
Labels: area-Linker: Diagnostic

#2051 Fix a problem where generating an empty FS assembly element roots the whole assembly
  src/ILLink.Tasks/CreateRuntimeRootDescriptorFile.cs
  test/ILLink.Tasks.Tests/CreateRuntimeRootDescriptorFileTests.cs
Labels: area-Integration: netcore

#2054 Introduce scopes into MarkStep to track the location for warnings
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Steps/MarkScopeStack.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker/MessageOrigin.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeCapability.cs
Labels: area-Linker: Diagnostic

#2057 Fix validation of ExpectedWarning attribute
  test/ILLink.RoslynAnalyzer.Tests/TestCaseUtils.cs
  test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectedWarningAttribute.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/Dependencies/RequiresUnreferencedCodeInCopyAssembly.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresUnreferencedCodeCapability.cs
  test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
Labels: area-Linker: Tests

#2060 Fix applying All annotation on a type from "copy" assembly
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Steps/MarkStep.cs
  test/Mono.Linker.Tests.Cases/DataFlow/Dependencies/MemberTypesAllBaseTypeAssembly.cs
  test/Mono.Linker.Tests.Cases/DataFlow/MemberTypesAllOnCopyAssembly.cs
Labels: area-Linker: DataFlow

#2066 Warn when method return type is annotated but it's not Type or String
  docs/error-codes.md
  src/linker/Linker.Dataflow/FlowAnnotations.cs
  test/Mono.Linker.Tests.Cases/DataFlow/MethodReturnParameterDataFlow.cs
  test/Mono.Linker.Tests/TestCasesRunner/LinkerTestLogger.cs
Labels: area-Linker: DataFlow

#2062 Fix issue in const propagation if there's a ret instruction during method parameter processing
  src/linker/Linker.Steps/UnreachableBlocksOptimizer.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/MethodWithParametersSubstitutions.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/MethodWithParametersSubstitutions.xml
Labels: area-Linker: Steps

#2070 Use full MessageOrigin when reporting data flow warnings
  src/linker/Linker.Dataflow/DynamicallyAccessedMembersTypeHierarchy.cs
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Dataflow/ReflectionPatternContext.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker/IReflectionPatternRecorder.cs
  src/linker/Linker/LoggingReflectionPatternRecorder.cs
  test/Mono.Linker.Tests.Cases/Logging/SourceLines.cs
  test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
  test/Mono.Linker.Tests/TestCasesRunner/TestReflectionPatternRecorder.cs
Labels: area-Linker: DataFlow
