Repository dotnet/linker, pull requests merged in 2022-09, with the labels that each got.

#3015 Fixes a null ref which happens when an XML comment cref contains generic instantiation
  src/ILLink.RoslynAnalyzer/DynamicallyAccessedMembersAnalyzer.cs
  test/ILLink.RoslynAnalyzer.Tests/DynamicallyAccessedMembersAnalyzerTests.cs
Labels: area-Analyzers

#3017 Allow codefixer to annotate accessor declarations as methods
  src/ILLink.CodeFix/BaseAttributeCodeFixProvider.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresAssemblyFilesAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresDynamicCodeAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresUnreferencedCodeAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/UnconditionalSuppressMessageCodeFixTests.cs
  test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/ExtensibilityTests.g.cs
  test/ILLink.RoslynAnalyzer.Tests/generated/Microsoft.Interop.JavaScript.JSImportGenerator/Microsoft.Interop.JavaScript.JSExportGenerator/JSExports.g.cs
  test/ILLink.RoslynAnalyzer.Tests/generated/Microsoft.Interop.JavaScript.JSImportGenerator/Microsoft.Interop.JavaScript.JSImportGenerator/JSImports.g.cs
Labels: area-Analyzers

#3020 [release/7.0] Fixes a null ref which happens when an XML comment cref contains generic instantiation
  src/ILLink.RoslynAnalyzer/DynamicallyAccessedMembersAnalyzer.cs
  test/ILLink.RoslynAnalyzer.Tests/DynamicallyAccessedMembersAnalyzerTests.cs
Labels: area-Analyzers

#3033 Fix how keeping something due to DynamicDependency is traced
  src/linker/Linker.Steps/MarkStep.cs
Labels: area-Linker: Steps

#3035 Better warning message for DynamicDependency problem
  src/ILLink.Shared/SharedStrings.resx
  src/linker/Linker.Steps/MarkStep.cs
  test/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMemberSignatureWildcard.cs
  test/Mono.Linker.Tests.Cases/DynamicDependencies/DynamicDependencyMethod.cs
Labels: area-Linker: Diagnostic

#3044 Cleanup tests for cases which use different warnings codes that the test mentions
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkAttributeErrorCases.cs
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkAttributeErrorCases.xml
  test/Mono.Linker.Tests.Cases/LinkAttributes/LinkerAttributeRemoval.cs
Labels: area-Linker: Tests
