Repository dotnet/linker, pull requests merged in 2022-02, with the labels that each got.

#2530 [release/6.0.2xx] Fix analyzer nullref on assembly attribute
  src/ILLink.RoslynAnalyzer/RequiresISymbolExtensions.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresUnreferencedCodeAnalyzerTests.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnAttributeCtor.cs
Labels: Servicing-approved

#2610 Fix how test find the ref pack to compile test cases against
  test/Mono.Linker.Tests/TestCasesRunner/TestCaseCompilationMetadataProvider.cs
Labels: area-Linker: Tests

#2625 Adds a test for backward branch merging an unknown value to the result
  test/Mono.Linker.Tests.Cases/DataFlow/LocalDataFlow.cs
Labels: area-Linker: Tests

#2627 Update tests to match analyzer behavior around intrinsics
  test/ILLink.RoslynAnalyzer.Tests/DataFlowTests.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ApplyTypeAnnotations.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ComplexTypeHandling.cs
Labels: area-Linker: Tests

#2629 Add test which accessed property backing field via reflection
  test/Mono.Linker.Tests.Cases/DataFlow/AnnotatedMembersAccessedViaReflection.cs
  test/Mono.Linker.Tests.Cases/Reflection/TypeHierarchyReflectionWarnings.cs
Labels: area-Linker: Tests

#2630 Update comments on tests with fake generated backing fields
  test/Mono.Linker.Tests.Cases/DataFlow/PropertyDataFlow.cs
Labels: area-Linker: Tests

#2633 Add tests for out and ref parameter data flow
  test/Mono.Linker.Tests.Cases/DataFlow/MethodByRefParameterDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/MethodOutParameterDataFlow.cs
Labels: area-Linker: Tests

#2635 [release 6.0.2xx] Port Fix: Add check for pointer types in IsComInterop (#2623)
  src/ILLink.RoslynAnalyzer/COMAnalyzer.cs
  test/Mono.Linker.Tests.Cases/Interop/PInvoke/Warnings/ComPInvokeWarning.cs
Labels: Servicing-approved

#2643 [release/6.0.2xx] Fix invalid cast of type parameter
  src/ILLink.RoslynAnalyzer/RequiresAnalyzerBase.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresCapability.cs
Labels: Servicing-approved

#2639 Share intrinsic handling of GetMember and similar APIs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/HandleCallAction.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodParameterValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/ReflectionAccessAnalyzer.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/TrimAnalysisVisitor.cs
  src/ILLink.Shared/TrimAnalysis/HandleCallAction.cs
  src/ILLink.Shared/TrimAnalysis/SystemReflectionMethodBaseValue.cs
  src/linker/Linker.Dataflow/HandleCallAction.cs
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Dataflow/ValueNode.cs
  test/ILLink.RoslynAnalyzer.Tests/DynamicallyAccessedMembersAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/ReflectionTests.cs
  test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/ReflectionTests.g.cs
  test/Mono.Linker.Tests.Cases/DataFlow/AnnotatedMembersAccessedViaReflection.cs
  test/Mono.Linker.Tests.Cases/DataFlow/DynamicDependencyDataflow.cs
  test/Mono.Linker.Tests.Cases/Reflection/MethodsUsedViaReflection.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAccessedThrough.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresWithCopyAssembly.cs
Labels: area-Linker: DataFlow
