Repository dotnet/linker, pull requests merged in 2022-07, with the labels that each got.

#2873 Small updates to help with linker->aot port
  src/ILLink.RoslynAnalyzer/DiagnosticDescriptors.cs
  src/ILLink.Shared/DiagnosticId.cs
  src/ILLink.Shared/TrimAnalysis/DiagnosticContext.cs
  src/linker/Linker/CompilerGeneratedState.cs
  src/linker/Linker/MessageOrigin.cs
  test/Mono.Linker.Tests.Cases/DataFlow/AttributeConstructorDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/AttributeFieldDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/AttributePropertyDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ByRefDataflow.cs
Labels: area-Linker: DataFlow

#2883 Refactorings to help with linker->AOT integration
  src/linker/Linker.Dataflow/CompilerGeneratedCallGraph.cs
  src/linker/Linker.Dataflow/CompilerGeneratedNames.cs
  src/linker/Linker.Dataflow/CompilerGeneratedState.cs
  src/linker/Linker.Dataflow/InterproceduralState.cs
  src/linker/Linker.Dataflow/MethodBodyScanner.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker/LinkContext.cs
  test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeDataflow.cs
Labels: area-Linker: DataFlow

#2887 Add a test for unsupported branch instruction crash
  test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/UnreachableBlockTests.g.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/ComplexConditionsOptimized.cs
Labels: area-Linker: Tests

#2889 Intentionally skip switch instructions during branch removal as the code doesn't handle it yet (throws NIE).
  src/linker/Linker.Steps/UnreachableBlocksOptimizer.cs
  test/Mono.Linker.Tests.Cases/UnreachableBlock/ComplexConditionsOptimized.cs
Labels: area-Linker: Steps

#2894 Fix a bug with null value passed to annotated parameter on attribute
  src/linker/Linker.Dataflow/AttributeDataFlow.cs
  src/linker/Linker.Dataflow/CompilerGeneratedCallGraph.cs
  src/linker/Linker.Dataflow/CompilerGeneratedState.cs
  test/Mono.Linker.Tests.Cases/DataFlow/AttributeConstructorDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/AttributeFieldDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/AttributePropertyDataflow.cs
Labels: area-Linker: DataFlow

#2904 Add a test for stack overflow when marking lambda which indirectly marks itself
  test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeAccessedViaReflection.cs
Labels: area-Linker: DataFlow

#2925 Added support for suppressions on properties
  src/linker/Linker/UnconditionalSuppressMessageAttributeState.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInMembersAndTypes.cs
Labels: area-Linker: Diagnostic

#2928 Add an interesting test case for compiler generated code marking
  test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/DataFlowTests.g.cs
  test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeInPreservedAssembly.cs
  test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeInPreservedAssembly.xml
Labels: area-Linker: DataFlow
