Repository dotnet/linker, pull requests merged in 2022-08, with the labels that each got.

#2932 Update DAMCodeFixProvider.cs
  src/ILLink.CodeFix/DAMCodeFixProvider.cs
Labels: area-Analyzers

#2912 Sync test changes from AOT
  test/Mono.Linker.Tests.Cases.Expectations/Assertions/ExpectedWarningAttribute.cs
  test/Mono.Linker.Tests.Cases.Expectations/Assertions/LogContainsAttribute.cs
  test/Mono.Linker.Tests.Cases.Expectations/Assertions/LogDoesNotContainAttribute.cs
  test/Mono.Linker.Tests.Cases.Expectations/Assertions/ProducedBy.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ArrayDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/AssemblyQualifiedNameDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ByRefDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedCodeDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/CompilerGeneratedTypes.cs
  test/Mono.Linker.Tests.Cases/DataFlow/EmptyArrayIntrinsicsDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/ExceptionalDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/FieldDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/MethodByRefReturnDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/UnresolvedMembers.cs
Labels: area-Linker: Tests

#2922 Redundant suppressions detection
  src/ILLink.Shared/DiagnosticId.cs
  src/ILLink.Shared/SharedStrings.resx
  src/ILLink.Tasks/build/Microsoft.NET.ILLink.targets
  src/linker/Linker.Steps/CheckSuppressionsDispatcher.cs
  src/linker/Linker.Steps/CheckSuppressionsStep.cs
  src/linker/Linker.Steps/SubStepsDispatcher.cs
  src/linker/Linker/Driver.cs
  src/linker/Linker/UnconditionalSuppressMessageAttributeState.cs
  src/linker/Resources/Strings.Designer.cs
  test/ILLink.RoslynAnalyzer.Tests/generated/ILLink.RoslynAnalyzer.Tests.Generator/ILLink.RoslynAnalyzer.Tests.TestCaseGenerator/Warnings.WarningSuppressionTests.g.cs
  test/Mono.Linker.Tests.Cases/DataFlow/SuppressWarningWithLinkAttributes.xml
  test/Mono.Linker.Tests.Cases/DataFlow/XmlAnnotations.xml
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFeatureSubstitutions.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFeatureSubstitutions.xml
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFromXML.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsFromXML.xml
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInAssembly.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInCompilerGeneratedCode.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInMembersAndTypes.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInMembersAndTypesUsingTarget.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/DetectRedundantSuppressionsInModule.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInCompilerGeneratedCode.cs
Labels: area-Linker: Diagnostic

#2942 New constraint on a generic argument involved in MakeGenericType/Method should warn
  src/ILLink.Shared/TrimAnalysis/HandleCallAction.cs
  test/Mono.Linker.Tests.Cases/DataFlow/MakeGenericDataFlow.cs
Labels: area-Linker: DataFlow

#2875 Adds a test with two annotated out params for the same method.
  test/Mono.Linker.Tests.Cases/DataFlow/ByRefDataflow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/MethodByRefParameterDataFlow.cs
Labels: area-Linker: Tests

#2972 Fix exception when generating warning for method definition
  src/linker/Linker/MessageOrigin.cs
Labels: area-Linker: Diagnostic

#2973 Suppress warning in instance fields
  src/ILLink.RoslynAnalyzer/RequiresISymbolExtensions.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
Labels: area-Linker: Diagnostic, area-Analyzers

#2994 CodeFixer enhancements
  src/ILLink.CodeFix/BaseAttributeCodeFixProvider.cs
  src/ILLink.CodeFix/DynamicallyAccessedMembersCodeFixProvider.cs
  src/ILLink.CodeFix/RequiresAssemblyFilesCodeFixProvider.cs
  src/ILLink.CodeFix/RequiresDynamicCodeCodeFixProvider.cs
  src/ILLink.CodeFix/RequiresHelpers.cs
  src/ILLink.CodeFix/RequiresUnreferencedCodeCodeFixProvider.cs
  src/ILLink.RoslynAnalyzer/CompilationExtensions.cs
  test/ILLink.RoslynAnalyzer.Tests/DynamicallyAccessedMembersAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/DynamicallyAccessedMembersCodeFixTests.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresAssemblyFilesAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresDynamicCodeAnalyzerTests.cs
  test/ILLink.RoslynAnalyzer.Tests/RequiresUnreferencedCodeAnalyzerTests.cs
Labels: area-Analyzers
