Repository dotnet/linker, pull requests merged in 2022-01, with the labels that each got.

#2479 ExpectedWarning silences only one warning per attribute
  test/Mono.Linker.Tests.Cases/DataFlow/AnnotatedMembersAccessedViaReflection.cs
  test/Mono.Linker.Tests.Cases/Reflection/TypeHierarchyReflectionWarnings.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresCapability.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresInCompilerGeneratedCode.cs
  test/Mono.Linker.Tests.Cases/Warnings/WarningSuppression/SuppressWarningsInCompilerGeneratedCode.cs
  test/Mono.Linker.Tests/TestCasesRunner/ResultChecker.cs
Labels: area-Linker: Diagnostic

#2477 [feature/damAnalyzer] Share values in data flow analysis between analyzer and linker
  src/ILLink.RoslynAnalyzer/DynamicallyAccessedMembersAnalyzer.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/ArrayValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/FieldValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/GenericParameterValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodParameterValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodReturnValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodThisParameterValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/SymbolValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/SystemTypeValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/TrimAnalysisVisitor.cs
  src/ILLink.Shared/Annotations.cs
  src/ILLink.Shared/DataFlow/SingleValue.cs
  src/ILLink.Shared/TrimAnalysis/ArrayValue.cs
  src/ILLink.Shared/TrimAnalysis/ConstIntValue.cs
  src/ILLink.Shared/TrimAnalysis/FieldValue.cs
  src/ILLink.Shared/TrimAnalysis/GenericParameterValue.cs
  src/ILLink.Shared/TrimAnalysis/KnownStringValue.cs
  src/ILLink.Shared/TrimAnalysis/MethodParameterValue.cs
  src/ILLink.Shared/TrimAnalysis/MethodReturnValue.cs
  src/ILLink.Shared/TrimAnalysis/MethodThisParameterValue.cs
  src/ILLink.Shared/TrimAnalysis/NullValue.cs
  src/ILLink.Shared/TrimAnalysis/RuntimeMethodHandleValue.cs
  src/ILLink.Shared/TrimAnalysis/RuntimeTypeHandleForGenericParameterValue.cs
  src/ILLink.Shared/TrimAnalysis/RuntimeTypeHandleValue.cs
  src/ILLink.Shared/TrimAnalysis/SystemReflectionMethodBaseValue.cs
  src/ILLink.Shared/TrimAnalysis/SystemTypeValue.cs
  src/ILLink.Shared/TrimAnalysis/UnknownValue.cs
  src/ILLink.Shared/TrimAnalysis/ValueExtensions.cs
  src/ILLink.Shared/TrimAnalysis/ValueWithDynamicallyAccessedMembers.cs
  src/linker/Linker.Dataflow/IValueWithStaticType.cs
  src/linker/Linker.Dataflow/MethodBodyScanner.cs
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Dataflow/ValueNode.cs
Labels: area-Linker: DataFlow

#2497 Improve analyzer debugging experience by making in single-threaded under debugger
  src/ILLink.RoslynAnalyzer/COMAnalyzer.cs
  src/ILLink.RoslynAnalyzer/DynamicallyAccessedMembersAnalyzer.cs
  src/ILLink.RoslynAnalyzer/RequiresAnalyzerBase.cs
Labels: area-Analyzers

#2499 Add WarningIds part 2
  src/ILLink.RoslynAnalyzer/RequiresUnreferencedCodeAnalyzer.cs
  src/ILLink.Shared/DiagnosticId.cs
  src/ILLink.Shared/SharedStrings.resx
  src/linker/Linker.Dataflow/FlowAnnotations.cs
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Steps/LinkAttributesParser.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker.Steps/ProcessLinkerXmlBase.cs
  src/linker/Linker/CompilerGeneratedState.cs
  src/linker/Linker/LinkContext.cs
  src/linker/Linker/MessageContainer.cs
  src/linker/Linker/TypeNameResolver.cs
  src/linker/Linker/UnconditionalSuppressMessageAttributeState.cs
Labels: area-Linker: Diagnostic

#2498 First intrinsics
  src/ILLink.RoslynAnalyzer/DataFlow/LocalDataFlowVisitor.cs
  src/ILLink.RoslynAnalyzer/IOperationExtensions.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/FlowAnnotations.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/Intrinsics.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodParameterValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodProxy.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/MethodReturnValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/TrimAnalysisVisitor.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/TypeProxy.cs
  src/ILLink.Shared/DataFlow/ForwardDataFlowAnalysis.cs
  src/ILLink.Shared/TrimAnalysis/IntrinsicId.cs
  src/ILLink.Shared/TrimAnalysis/Intrinsics.cs
  src/ILLink.Shared/TypeSystemProxy/IMemberProxy.cs
  src/ILLink.Shared/TypeSystemProxy/MethodProxy.cs
  src/ILLink.Shared/TypeSystemProxy/TypeProxy.cs
  src/linker/Linker.Dataflow/Intrinsics.cs
  src/linker/Linker.Dataflow/MethodProxy.cs
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Dataflow/TypeProxy.cs
  src/linker/Linker.Steps/MarkStep.cs
  src/linker/Linker/MethodReferenceExtensions.cs
  src/linker/Linker/TypeReferenceExtensions.cs
  test/ILLink.RoslynAnalyzer.Tests/DataFlowTests.cs
  test/ILLink.RoslynAnalyzer.Tests/TestCaseCompilation.cs
  test/Mono.Linker.Tests.Cases/DataFlow/GetTypeInfoDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/TypeInfoAsTypeDataFlow.cs
Labels: area-Linker: DataFlow

#2520 Update CI pools to latest images
  eng/azure-pipelines.yml
Labels: Area-Infrastructure

#2508 Divide RequiresCapability file
  test/ILLink.RoslynAnalyzer.Tests/RequiresCapabilityTests.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/BasicRequires.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAccessedThrough.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresAttributeMismatch.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresCapability.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnAttribute.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnClass.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnStaticConstructor.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresOnVirtualsAndInterfaces.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresViaDataflow.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresViaXml.attributes.xml
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresViaXml.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresViaXml.descriptor.xml
  test/Mono.Linker.Tests.Cases/RequiresCapability/RequiresWithCopyAssembly.cs
  test/Mono.Linker.Tests.Cases/RequiresCapability/SuppressRequires.cs
Labels: area-Linker: Tests

#2168 Design proposal for DAM-on-type and RUC interactions
  docs/design/DAM-on-type-and-RUC-interaction.md
Labels: area-Linker: DataFlow

#2524 Share annotation validation
  src/ILLink.RoslynAnalyzer/DynamicallyAccessedMembersAnalyzer.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/DiagnosticContext.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/HandleCallAction.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/RequireDynamicallyAccessedMembersAction.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/SystemTypeValue.cs
  src/ILLink.RoslynAnalyzer/TrimAnalysis/TrimAnalysisVisitor.cs
  src/ILLink.Shared/TrimAnalysis/DiagnosticContext.cs
  src/ILLink.Shared/TrimAnalysis/HandleCallAction.cs
  src/ILLink.Shared/TrimAnalysis/Intrinsics.cs
  src/ILLink.Shared/TrimAnalysis/RequireDynamicallyAccessedMembersAction.cs
  src/ILLink.Shared/TrimAnalysis/SystemTypeValue.cs
  src/linker/Linker.Dataflow/DiagnosticContext.cs
  src/linker/Linker.Dataflow/HandleCallAction.cs
  src/linker/Linker.Dataflow/MethodBodyScanner.cs
  src/linker/Linker.Dataflow/ReflectionMethodBodyScanner.cs
  src/linker/Linker.Dataflow/RequireDynamicallyAccessedMembersAction.cs
  src/linker/Linker.Dataflow/ValueNode.cs
Labels: area-Linker: DataFlow

#2551 Add a link to an issue for existing test case
  test/Mono.Linker.Tests.Cases/DataFlow/GetInterfaceDataFlow.cs
  test/Mono.Linker.Tests.Cases/DataFlow/LocalDataFlow.cs
Labels: area-Linker: Tests
